{% extends 'buddyapp/base.html' %}
<!--> Displays the most viewed playlists in the database, according to page views for each playlist. </!-->
{% load staticfiles %}

{% block title %}
	Add Route
{% endblock %}

{% block body %}
<div class="form-text">
	<p>
		<form method="POST" class="post-form">
			{% csrf_token %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text}}
			{{ field }}
			<br />
		{% endfor %}
		</form>
	</p>
</div>
<p class = "form-submit">
		<button type="submit" class="save btn btn-default">Add Route</button>
</p>
{% endblock %}
