<!DOCTYPE html>

{% load staticfiles %}
<!--Home page template. If user is unregistered, 'Register Here!' displayed to prompt user to create
an account. If user is logged in, home page informs them of this. -->

<script src="{% static "js/ToP-jquery.js" %}"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "images/bike.ico" %}">
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href={% static "css/cover.css" %} rel="stylesheet">
    <title>
    {% block title %}
    {% endblock %}
    </title>
  </head>

  <body>
    <h1>Bike Buddy</h1>
    <div class="topnav" id="myTopnav">
     <a href="{% url 'index' %}">Home</a>
     <a href="{% url 'my_routes' %}">My Routes</a>
     <a href="{% url 'add_route' %}">Add Route</a>
     <a href="{% url 'register' %}">Register Here</a>

   </div>
    {% block body %}
    {% endblock %}
</html>
