{% extends "buddyapp/base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}
    <p class="center-text">
       You are logged in
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas sed tempus urna et pharetra. Nunc congue nisi vitae suscipit tellus mauris a diam maecenas. Sit amet tellus cras adipiscing enim eu turpis. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Sagittis aliquam malesuada bibendum arcu. Enim lobortis scelerisque fermentum dui. Varius sit amet mattis vulputate enim nulla aliquet porttitor acus. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. At varius vel pharetra vel turpis nunc eget lorem dolor. Blandit libero volutpat sed cras ornare. Tempor orci dapibus ultrices in. Eget arcu dictum varius duis. Diam volutpat commodo sed egestas egestas fringilla.
    </p>
  {% endif %}
{% endblock %}
