{% extends "buddyapp/base.html" %}
<!--> Template for login screen. Prompts user to enter username and password, and links to password reset
with 'Forgot Password?'. Also links user to register if not a member. </!-->
{% block title %}
login
{% endblock %}
{% block body %}
<form id="login_form" method="post" action="/buddyapp/">
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br />
	Password: <input type="password" name="password" value="" size="50" />
	<br/>
	<input type="submit" value="submit"/>
</form>
<div class="mastfoot">
	<div class="center-text">
          <p>Not a member?<a class="nav-link" href="{% url 'register' %}">Register!</a></p>
	</div>
</div>
{% endblock %}
